.menubar-wrapper{
    position: fixed;
width: 1440px;
height: 810px;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

/* BG */

background: #F7F7F7;
border-radius: 16px;
}
.menubar{
    position: absolute;
    width: 200px;
    height: 810px;
    left: 0px;
    top: 0px;
    
    /* White */
    
    background: #FFFFFF;
    /* Dropdown */
    
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 16px 0px 0px 16px;
}
.logo{
/* Logo alta */


position: absolute;
width: 80px;
height: 64px;
left: 60px;
top: 32px;
}
.dashboard-btn{
    /* Frame 264 */

cursor: pointer;
position: absolute;
width: 200px;
height: 48px;
left: 0px;
top: 150px;

/* Orange/$-Orange-500 */

background: #FF7506;
}
.dashboard-item{
    /* Frame 259 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 12px 12px 4px;
gap: 8px;

position: absolute;
width: 176px;
height: 25px;
left: 12px;
top: 0px;

border-radius: 8px;
}
.element4{
    /* vuesax/linear/element-4 */


width: 20px;
height: 20px;
height: 20px;
width: 20px;
left: 4px;
top: 14px;
border-radius: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.a1 {
    /* Dashboard */


width: 82px;
height: 24px;

/* 16/16 Bold */

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
height: 24px;
width: 82px;
left: 32px;
top: 12px;
border-radius: nullpx;



/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.logout-wrapper{
/* Frame 269 */


position: absolute;
width: 200px;
height: 46px;
left: 0px;
top: 732px;

.logout-btn{
    /* Frame 263 */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: 12px;
    gap: 12px;
    
    position: absolute;
    width: 176px;
    height: 48px;
    left: 12px;
    top: 0px;
    
    /* Orange/$-Orange-50 */
    
    background: #FFF2E7;
    border-radius: 8px;



    }
}
.logouticon{
    /* fi:log-out */
    
    margin-left: 10px;
    width: 20px;
    height: 20px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    a.a-2{
    /* Đăng xuất */
    
    
    width: 76px;
    height: 24px;
    
    /* 16/16 Semi */
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* Orange/$-Orange-500 */
    
    color: #FF7506;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
